.main_chat
  .current_group
    .current_group__left
      .current_group__left__name
        name
      .current_group__left__member
        member
    =link_to "#",class:"current_group__btn" do
      Edit
    
  .log  
    .log__info
      .log__info__user
        %span.log__info__user__name
          name
        %span.log__info__user__time
          12/29
      .log__info__message
        はろー

  .message
    .message__form
      .message__form__text
        messe-ge
      %label.message__form__icon
        <i class="far fa-image fa-lg"></i>
        %input.message__form__icon__input{:type => "file"}
    =link_to "#",class:"message__btn" do
      Send