.main_chat
  .current_group
    .current_group__left
      .current_group__left__name
        name
      .current_group__left__member
        member
    =link_to "#",class:"current_group__btn" do
      Edit
    
  .log  
    .log__info
      .log__info__user
        %span.log__info__user__name
          name
        %span.log__info__user__time
          12/29
      .log__info__message
        はろー

  .message
    message