.side_bar
  .side_bar__user
    .side_bar__user__info
      %p.side_bar__user__info--name
        user
      %p.side_bar__user__info--btn
        =link_to "#", class: "side_bar__user__info--btn--gear" do
          = icon('fas', 'cog')
        =link_to "#", class: "side_bar__user__info--btn--edit" do
          = icon('fas', 'edit')
        
  .side_bar__chat_groups
    %h1.side_bar__chat_groups
    %p.side_bar__chat_groups__message
